/* <link rel="stylesheet" href="../../css/bigChungus.css"/> 
<link rel="stylesheet" href="bigChungus.css"/> */

/* LoginGeneral.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color);
    border: none;
}
button{
    padding: 9px 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.5);
}
.contentContainerGORGON{
    width:100%;
    height: 100vh;
    background-color: var(--primary-color);
}
.txt_feild{
    display:flex;
    flex-direction: column;

}
.txt_feild label{
    color: rgba(224,62,76,.69);
    font-weight: 600;

}
.txt_feild input {
    width: 35vh;
    padding: 12px;
    border-radius: 25px;
    border-width: 2px;
    border-color: var(--quaternary-color);    
}
.button{
    width:30vh;
    border-radius: 25px;
    border:none;
    padding: 6px;
    background-color: rgba(224,62,76); ;
    color:#FFFFFF;
    font-size: 18px;
}
.forgot{
    margin-top: 5px;
    margin-bottom:10px;
}
.New{
    margin-top: 5px;
    margin-bottom:10px;
    font-size: 14px;
}
.viewGORGON{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45%;
    min-width: 800px;
    height: 99vh;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.footer{
    margin: auto;
    width: 30vh;
    text-align: center;
}
.containerGORGON{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.header{
    display:flex;
    justify-content: center;
}

/* loginpage.css */
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 2vh 0px;
}
.containerGORGON{
    padding:5vh 0px 13vh 0px; 
}

/* EmployeeVerification.css */
.buttonPadding{
    padding:25px
}
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 1.5vh 0px;
}
.containerGORGON{
    padding:0vh 0px 5vh 0px; 
}

/* emailVerification.css */
.buttonPadding{
    padding:25px
}
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 1.5vh 0px;
}
.containerGORGON{
    padding:0vh 0px 5vh 0px; 
}
.image{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0vh 0px 5vh 0px; 
}
.textGORGON{
    width: 55vh;
    text-align: center;
    font-weight: bold;
    padding:0vh 0px 2.5vh 0px; 

}

/* accountCreated.css */
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}

.containerGORGON{
    padding:8vh 0px 9vh 0px; 
}
.text{
    width: 55vh;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    padding:0vh 0px 10vh 0px; 

}
.containerGORGON a{
    font-weight: bold;
}

/* accountCreate.css */
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}

.buttonPadding{
    padding:25px
}
.txt_feild{
    padding:0vh 0px 2vh 0px;
}
.containerGORGON{
    padding:0vh 0px 10vh 0px; 
}

/* general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0xp 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #2380C4;
}
header button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.8);
}
.contentContainer{
    width:100%;
    height: 100vh;
    background-color: var(--primary-color);
}
button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.viewBLORP{
    margin: auto;
    width: 99%;
    height: 90%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
}
ul {list-style-type: none;}

/* avalability.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

.title{
    height: 12vh;
}
.title h1{
    font-weight: 100;
    padding: 5vh 8vh;

}
.avalability{
    padding: 2vh 4vh;
    flex-direction: column;
    height: 20vh;
}
.a{
    display:flex;
    padding: 1vh 5vh;
}
input{
    margin-left: 2vh;
}
.a tag{
    margin-left: 1vh;
}


/* 2general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter';
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}

.nav__linksASDF{
    list-style: none;
}
.nav__linksASDF li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__linksASDF li a{
    transition: all 0.3s ease 0s;
    color: #585757;
}
.nav__linksASDF li a:hover{
    color: #2380C4;
}
button{
    padding: 9px 25px;
    background-color: rgb(0,136,169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
}
button:hover{
    background-color: rgb(0,136,169,0.8);
}
.contentContainerASDF{
    width:100%;
    height: 94vh;
    background-color: var(--primary-color);
}

.viewASDF{
    margin: auto;
    width: 99%;
    height: 98%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 5%;
}

.messageCont{
    width: 99.5%;
    height: 15%;
    color: #000000;
    background: #FFFFFF;
    font-size: 11px;
}
.message{
    float: left;
    padding-left: 15%;
}

.profileImg{
    padding-right: 20px;
    float: left;
}
.paddingMeBoyMeBob{
    padding: 0.5% 0%
}

.middleMessage{
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

/* 3general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #2380C4;
}
button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.8);
}



.view{
    margin: auto;
    width: 99%;
    height: 98%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
}
.viewES {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.viewEA {
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: center;
    align-items: center;
    
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.calanderBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 140vh;
}
aside{
    background-color: #b02a37;
    /*width: 15%;*/
    height: 90%;
   /* float: right;*/
    margin-right: 1vh;
    border-radius: 5px;
}
aside div{
    /*text-align: left;*/
    padding: 8px;
    color: white;
}
.boldJohn {
    font-weight: bold;
    text-decoration: underline;
}
.values{
    float: left;

}
.values li{
    display: inline;
}

/* AdminHome.css */
.cities{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
hr.solid {
    border-top: 3px solid #bbb;
    margin-bottom: 0;
}
.city__links{
    list-style: none;
}
.city__links li{
    display: inline-block;
    padding: 0px 70px;
}
.section__links{
    list-style: none;
}
.section__links li{
    display: inline-block;
    padding: 0px 60px;
}
/* profile.html's .css */

.profile {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

.body1 {
    padding-top: 3rem;
    background:  var(--primary-color);
    position: relative;
    height: 100%;
}
.card{
    height: 635px;
    background: white;
    border: 3px solid black;
}
.card-body{
    padding-top: 13rem;
}
.account-settings{
    padding-top: 12rem;
    padding-right: 1.5rem;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile .user-avatar input {
    margin-top: 1rem;
    margin-right: 1rem;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;

}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: var(--secondary-color);
    color: #2e323c;
}
.button3{
    margin-top: 12px;
}