

.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}

.container{
    padding:8vh 0px 9vh 0px; 
}
.text{
    width: 55vh;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    padding:0vh 0px 10vh 0px; 

}
.container a{
    font-weight: bold;
}