@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

.title{
    height: 19vh;
}
.title h1{
    font-weight: 100;
    padding: 5vh 8vh;

}
.avalability{
    padding: 2vh 4vh;
    flex-direction: column;
    height: 20vh;
}
.a{
    display:flex;
    padding: 1vh 5vh;
}
input{
    margin-left: 2vh;
}
.a tag{
    margin-left: 1vh;
}
