/* total time: 02:43 */
/* <link rel="stylesheet" href="../../css/bigChungus.css"/> 
<link rel="stylesheet" href="bigChungus.css"/> */

/* loginpage.css */
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 2vh 0px;
}
.container{
    padding:5vh 0px 13vh 0px; 
}

/* LoginGeneral.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color);
    border: none;
}
button{
    padding: 9px 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.5);
}
.contentContainer{
    width:100%;
    height: 100vh;
    background-color: var(--primary-color);
}
.txt_feild{
    display:flex;
    flex-direction: column;
}
.txt_feild label{
    color: rgba(224,62,76,.69);
    font-weight: 600;
}
.txt_feild input {
    width: 35vh;
    padding: 12px;
    border-radius: 25px;
    border-width: 2px;
    border-color: var(--quaternary-color);    
}
.button{
    width:30vh;
    border-radius: 25px;
    border:none;
    padding: 6px;
    background-color: rgba(224,62,76); ;
    color:#FFFFFF;
    font-size: 18px;
}
.forgot{
    margin-top: 5px;
    margin-bottom:10px;
}
.New{
    margin-top: 5px;
    margin-bottom:10px;
    font-size: 14px;
}
.view{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45%;
    min-width: 800px;
    height: 99vh;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.footer{
    margin: auto;
    width: 30vh;
    text-align: center
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.header{
    display:flex;
    justify-content: center;
}

/* EmployeeVerification.css */
.buttonPadding{
    padding:25px
}
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 1.5vh 0px;
}
.container{
    padding:0vh 0px 5vh 0px; 
}

/* emailVerification.css */
.buttonPadding{
    padding:25px
}
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.txt_feild{
    padding:0vh 0px 1.5vh 0px;
}
.container{
    padding:0vh 0px 5vh 0px; 
}
.image{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0vh 0px 5vh 0px; 
}
.text{
    width: 55vh;
    text-align: center;
    font-weight: bold;
    padding:0vh 0px 2.5vh 0px; 
}

/* accountCreated.css */
.header{
    display:flex;
    justify-content: center;
}
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.container{
    padding:8vh 0px 9vh 0px; 
}
.text{
    width: 55vh;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    padding:0vh 0px 10vh 0px; 
}
.container a{
    font-weight: bold;
}

/* accountCreate.css */
.header img{
    padding: 7vh 0px;
    max-width: 600px;
}
.buttonPadding{
    padding:25px
}
.txt_feild{
    padding:0vh 0px 2vh 0px;
}
.container{
    padding:0vh 0px 10vh 0px; 
}

/* 3general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #2380C4;
}
button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.8);
}
.contentContainer{
    width:100%;
    height: 94vh;
    background-color: var(--primary-color);
}
.view{
    margin: auto;
    width: 99%;
    height: 98%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
}
.calendar{
    float: left;
    width: 80%;
    height: 90%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
/* Month header */
.month {
    padding: 40px 25px;
    width: 95%;
    /*background: #1abc9c;*/
    background: white;
    text-align: center;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    width: 95%;
}
.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}
/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    width: 95%;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: left;
}
.days {
    display: flex;
    flex-wrap: wrap;
}
.days button{
    border-radius: 2px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 12vh;
    text-align: left;
    font-size:12px;
    color: #666;
    border: 3px solid blue;
}
aside{
    background-color: lightgrey;
    height: 90%;
    margin: 40px;
    float: right;
}
aside div{
    padding: 10px;
}
.values{
    padding: 10px;
}
.values div{
    display: inline-flex;
    padding: 10px;
}
.square1{
    border: 3px solid var(--quaternary-color);
    background-color: lightgreen;
}
.square2{
    border: 3px solid var(--quaternary-color);
    background-color: lightgrey;
}
.square3{
    border: 3px solid var(--quaternary-color);
    background-color: #b02a37;
}
.viewES{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.calendar{
    width:70vh;
}
.aside{
    width:20vh;
    height: 80%;
}
.calanderBody{
    margin-bottom: 20%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 140vh;
}

/* calander.css */
.calander{
    width: 100%;
    padding: 0vh 2vh;
    box-shadow:0 5px 50px rgba(0,0,0,0,.5);
    overflow: hidden;
}
.month h3{
    margin: 0;
    font-weight: 500;
}
.month{
    display:flex;
    align-items: center;
    justify-content: center;
}
/*this is each box in the calander*/
.calander__date{
    display:flex;
   /* width:180vh*/
}
.Calender__day{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 25;
    font-weight: 600;
    color: #262626;
    border: 2px solid black;
    width:  14%;
}
.calander__number{
    color: #262626;
    width: 14%;
    height: 40vh;
    border: 2px solid black;
}
.current_calander__number{
    color: #000000;
background-color: rgba(224, 62, 76, 0.666);    font-weight: 1000;
}
.calander__number:hover{
    background-color: #bfbfbf;
    color:rgb(0, 0, 0);
    font-weight: 1000;
    cursor: pointer;
    width: 14%;
    height: 40vh;
    border: 2px solid rgb(64, 64, 64);
}
.calander__number_empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
    width: 14%;
    height: 40vh;
    border: 2px solid black;
    background-color: #838383;
}
nav li{
    margin-left: 8vh;
    margin-right: 8vh;
}
.weekdiv{
    width:100%;
}
.full_calander__number{
    color: #262626;
    width: 14%;
    height: 10vh;
    border: 2px solid black;
}
.current_calander__number{
    color: #000000;
background-color: rgba(224, 62, 76, 0.666);    font-weight: 1000;
}
.full_calander__number:hover{
    background-color: #bfbfbf;
    color:rgb(0, 0, 0);
    font-weight: 1000;
    cursor: pointer;
    width: 14%;
    height: 10vh;
    border: 2px solid rgb(64, 64, 64);
}
.full_calander__number_empty{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262626;
    width: 14%;
    height: 10vh;
    border: 2px solid black;
    background-color: #838383;
}
.full_calander__date{
    display:flex;
    flex-direction:column;
   /* width:180vh*/
}
.week_div{
    display:flex;
    flex-direction:row;
}
/* .employee_view{
    
} */
.red{
    background-color: #ae4545;
}
.green{
    background-color: #3f943c;
}
.grey{
    background-color: #a0a0a0;
}

/* 2general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter';
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    color: #585757;
}
.nav__links li a:hover{
    color: #2380C4;
}
button{
    padding: 9px 25px;
    background-color: rgb(0,136,169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
}
button:hover{
    background-color: rgb(0,136,169,0.8);
}
.contentContainer{
    width:100%;
    height: 94vh;
    background-color: var(--primary-color);
}
.view{
    margin: auto;
    width: 99%;
    height: 98%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 5%;
}
.messageCont{
    width: 99.5%;
    height: 15%;
    color: #000000;
    background: #FFFFFF;
    font-size: 11px;
}
.message{
    float: left;
    padding-left: 15%;
}
.profileImg{
    padding-right: 20px;
    float: left;
}
.paddingMeBoyMeBob{
    padding: 0.5% 0%
}
.middleMessage{
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

/* general.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color)
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 2% 10px 2%;
    background-color: var(--secondary-color);
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0xp 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #2380C4;
}
header button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.8);
}
.contentContainer{
    width:100%;
    height: 94vh;
    background-color: var(--primary-color);
}
button{
    padding: 9px 25px;
    background-color: rdba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.view{
    margin: auto;
    width: 99%;
    height: 98%;
    border: 3px solid var(--quaternary-color);
    border-radius: 14px;
    background-color: var(--secondary-color);
    padding-top: 10px;
}
ul {list-style-type: none;}

/* avalability.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
.title{
    height: 19vh;
}
.title h1{
    font-weight: 100;
    padding: 5vh 8vh;
}
.avalability{
    padding: 2vh 4vh;
    flex-direction: column;
    height: 20vh;
}
.a{
    display:flex;
    padding: 1vh 5vh;
}
input{
    margin-left: 2vh;
}
.a tag{
    margin-left: 1vh;
}

/* TempCalendar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
.calendar{
    margin: auto;
    width: 70%;
    height: 90%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
/* Month header */
.month {
    padding: 5px;
    width: 100%;
    /*background: #1abc9c;*/
    background: white;
    text-align: center;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}
/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: left;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.days button{
    border-radius: 2px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 10vh;
    text-align: left;
    font-size:12px;
    color: #666;
    border: 3px solid blue;
}
aside{
    background-color: #b02a37;
    /*width: 50%;*/
    height: 90%;
    /*float: right;*/
}
aside div{
    /*text-align: left;*/
    padding: 10px;
}
.values{
    float: left;
}
.values li{
    display: inline;
}

/* AdminHome.css */
.cities{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
hr.solid {
    border-top: 3px solid #bbb;
}
.city__links{
    list-style: none;
}
.city__links li{
    display: inline-block;
    padding: 0px 70px;
}
.section__links{
    list-style: none;
}
.section__links li{
    display: inline-block;
    padding: 0px 60px;
}
.calanderBody{
    margin-top:2%;
}