@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
:root {
    --primary-color: #2380C4;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E03E4C;
    --quaternary-color: #585757;
    --hover-color:rgba(225,225,225,.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--quaternary-color);
    border: none;
}
button{
    padding: 9px 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rdba(0,136,169,0.5);
}
.contentContainer{
    width:100%;
    height: 100vh;
    background-color: var(--primary-color);
}


.txt_feild{
    display:flex;
    flex-direction: column;

}
.txt_feild label{
    color: rgba(224,62,76,.69);
    font-weight: 600;

}
.txt_feild input {
    width: 35vh;
    padding: 12px;
    border-radius: 25px;
    border-width: 2px;
    border-color: var(--quaternary-color);    
}
.button{
    width:30vh;
    border-radius: 25px;
    border:none;
    padding: 6px;
    background-color: rgba(224,62,76); ;
    color:#FFFFFF;
    font-size: 18px;
}
.forgot{
    margin-top: 5px;
    margin-bottom:10px;
}
.New{
    margin-top: 5px;
    margin-bottom:10px;
    font-size: 14px;
}

.view{
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45%;
    min-width: 800px;
    height: 99vh;
    border-radius: 10px;
    background-color: var(--secondary-color);

}
.footer{
    margin: auto;
    width: 30vh;
    text-align: center
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.header{
    display:flex;
    justify-content: center;
}
