@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');


.calendar{
    margin: auto;
    width: 70%;
    height: 90%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 5px;
    width: 100%;
    /*background: #1abc9c;*/
    background: white;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: left;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.days button{
    border-radius: 2px;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 10vh;
    text-align: left;
    font-size:12px;
    color: #666;
    border: 3px solid blue;

}
aside{
    background-color: #b02a37;
    /*width: 50%;*/
    height: 90%;
    /*float: right;*/
}
aside div{
    /*text-align: left;*/
    padding: 10px;
}
.values{
    float: left;

}
.values li{
    display: inline;
}


